.layout1{
	background-color: rgb(152,138,157);
	height: 100px;	
	color: white;

}

.layout2{
	background-color: rgb(174,171,170);
	height: 100px;

}

.layout2a{
	background-color: orange;
	height: 100px;
	color: white;

}